[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
autopep8 = "*"
pynamodb = "*"
flask-script = "==2.0.5"
flask = "==1.1.2"
flask-login = "*"

[dev-packages]

[requires]
python_version = "3.8"
